*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.circle-container{
    width: 12em;
    height: 12em;
    position: relative; 
    border-radius: 100%;
    margin-left: 9em;
}
.inner-circle{
    width: 6em;
    height: 6em;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -47%);
}
.top-semicircle{
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 100px 100px 0 0;
    position: relative;
    overflow: hidden;
}
.bottom-semicircle{
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 0 0 100px 100px;
    position: relative;
    overflow: hidden;
}
.rectangle1 {
    height: 100px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 100px;
    transform-origin: 50% 0;
    animation: animation1 2s forwards linear;
    /* animation-iteration-count: infinite; */
}
.rectangle2 {
    height: 100px;
    width: 200px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: -100px;
    transform-origin: 50% 100%;
    animation: animation2 2s forwards linear;
    animation-delay: 2s;
    /* animation-iteration-count: infinite; */
}
@keyframes animation1 {
    to{
        transform: rotate(180deg);
    }
}
@keyframes animation2 {
    to{
        transform: rotate(180deg);
    }
}
.password {
    border-radius: 10px; 
    position: relative; 
} 
.password-toggle{
    width: 34px;
    height: 36px;
    position: absolute;
    right: 14px;
    z-index: 1;
    appearance: none;
    cursor: pointer;
    top: 10px;
    border: 1px solid transparent;
    right: -2px;
}
.toggle-eye{
    position: absolute;
    right: 0;
    font-size: 34px;
    top: 26px;
}
.password-input{ 
    -webkit-text-security: disc; 
    padding-left: 10px;
}
.password-toggle:checked ~ .password-input{
    -webkit-text-security:none;
}
.password-toggle:checked ~ .toggle-eye.close{
    opacity: 0;    
}
.Container{
    border: 2px solid black;
    margin: 4px;
    border-radius: 28px;
    width: 100%;
    display: flex;
}
.content{
    padding: 12px;
    width: 50%;
}
input{
    width: 100%;
    height: 2.8em;
    margin-top: 12px;
    border-radius: 16px;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 26px;
    font-size: 22px;
    border: 2px solid;
    padding-left: 10px;
}
input::placeholder{
    font-size: 28px;
    color: #c1bebe;
    /* padding-left: 16px; */
}
label{
    font-size: 28px;
    display: block;
}
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.password-field {
    position: relative;
}
.fa-eye {
    position: absolute;
    right: 10px;
    top: 25%;
    cursor: pointer;
}
.confirmPassword {
    position: relative;
}
.fa-eyes {
    position: absolute;
    right: 10px;
    top: 56%;
    cursor: pointer; 
}
.fa-eyes:before {
    content: "\f06e";
}
.button{
    background-color: black;
    color: aliceblue;
    height:2.8em;
    font-size: 28px;
}
.profileText{
    font-size: 24px;
    margin-top: 10px;
    margin-left: 28px;
    text-align: center;
}
strike{
    color: #b6b3b3;
}
.checkColor{
    background-color:#ebebeb;
    border-radius: 28px;
    margin-left: 4.6em;
}
ul.checklist{
    list-style: none;
    line-height: 32px;
    padding: 34px;
}

.button:hover{
    background: lightblue;
    color: red;
    border: 1px solid black;
    cursor: pointer;
}
@media screen and (min-width:1024px) {
    .Container{
        display: flex;
        padding: 44px 68px 30px 44px;
        max-width: 820px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 80px auto;
        gap: 8px;
    }
    .content{
        width: 50%;
    }
    .listContainer{
        width: 50%;
    } 
    .checkColor{
        width:86%;
        height: 53%;
    }
    ul.checklist{
        font-size: 22px;
        line-height: 45px;
        margin-top: 28px;
    }
    .profileText{
        margin-left: 3em;
        margin-top: 1em;
        font-size: 30px;
    }
    .progressCircle{
        margin-left: 5em;
    }
    .button{
        width: 95%;
    }
}
@media screen and (max-width:767px) {
    .content{
        width: 82%;
        padding: 2em;
    }
    .Container{
        margin: 0;
        width: 99%;
        display: block;
    }
    .checkColor{
        width: 79%;
        margin-left: 2.6em;
        margin-bottom: 32px;
    }
    .profileText{
        margin-left: 0;
        font-size: 30px;
        margin-bottom: 1em;
    }
    ul.checklist{
        font-size: 17px;
        line-height: 34px;
    }
    .inner-circle{
        transform: translate(-48%, -47%);
    }
    .circle-container{
        margin: auto  auto 3em;
    }
    ::placeholder{
        font-size: 24px !important;
    }
    label{
        font-size: 24px !important;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    /* .Container{
        padding: 26px 40px 40px;
        gap: 8px;
    }
    .content{
        width: 50%;
    }
    .listContainer{
        width: 50%;
    } 
    .checkColor{
        width:79%;
        height: 53%;
    }
    ul.checklist{
        font-size: 18px;
        line-height: 48px;
    }
    .profileText{
        margin-left: 2.8em;
    }
    .progressCircle{
        width: 44%;
    }
    .circle-container{
        margin-left: 7em;
        margin-bottom: 3em;
    }
    .inner-circle{
        transform: translate(-48%, -48%);
    } */
    .content{
        width: 90%;
        padding: 2em;
    }
    .Container{
        width: 99%;
        display: block;
    }
    .checkColor{
        width: 70%;
        margin-left: 7.6em;
        margin-bottom: 32px;
        border-radius: 48px;
    }
    .profileText{
        margin-left: 0;
        font-size: 46px;
        margin-bottom: 1em;
    }
    ul.checklist{
        font-size: 26px;
        line-height: 46px;
    }
    .inner-circle{
        transform: translate(-48%, -47%);
    }
    .circle-container{
        margin: auto  auto 3em;
    }
    input{
        height: 3em;
    }
    .button{
        height: 3em;
        width: 98%;
    }
}